<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart with Flask and amCharts 5</title>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    
    <script src="/static/chart.js" ></script>
    <script src="/static/chart2.js" ></script>
    <script src="/static/chart3.js" ></script>
    <script src="/static/chart4.js" ></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Uinversty Dashboard</h1>
    <div class="chart-row">
        <div id="chartdiv1" class="chart">Average grades</div>
        <div id="chartdiv3" class="chart">Averge paper per semster</div>
    </div>
    <div class="chart-row">
        <div id="chartdiv2" class="chart">studen Distribution</div>
        <div id="chartdiv4" class="chart">grades Distribution</div>
    </div>
</body>
</html>